@import "variables";


@mixin titleStyles {
    font-size: 25px;
    font-weight: 100;
    color: $color-main-orange;
}

@mixin tablets {
    @media screen and (max-width: 1024px) {
        @content;
    }
}


@mixin smallTablets {
    @media screen and (max-width: 650px) {
        @content;
    }
}


@mixin bigScreens {
    @media screen and (min-width: 1824px) {
        @content;
    }
}
 
